<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Dsn=dsnPFOnline;uid=KPEPFUN;pwd=aiafae" providerName="System.Data.Odbc"/>
    <add name="ConnectionString2" connectionString="ConString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" timeout="12000" cookieless="AutoDetect" sqlCommandTimeout="60000" stateNetworkTimeout="60000" regenerateExpiredSessionId="true"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule"/>
    </httpModules>
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB"/>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIn1tegratedModeConfiguration="false"/>
  </system.webServer>
  <location allowOverride="true">
    <appSettings>
     <!--<add key="ConString" value="Server=IKMPC286\SQL2014ENT; Database=KPEPF_Online;uid=KPEPFUN;pwd=aiafae;Pooling=True; Max Pool Size=999;timeout=999"/>   
      <add key="ConString" value="Server=IKMPC283\SQL2014; Database=KPEPF_Online;uid=KPEPFUN;pwd=aiafae;Pooling=True; Max Pool Size=999;timeout=999"/>-->
      <add key="ConString" value="Server=IKMPC283\SQL2014ENT; Database=KPEPF_Online;uid=sa;pwd=ikm;Pooling=True; Max Pool Size=999;timeout=999"/>
     <!-- <add key="ConString" value="Server=IKMPC283\SQL2014ENT; Database=KPEPF_Online;uid=sa;pwd=ikm;Pooling=True; Max Pool Size=999;timeout=999"/>-->
      <!-- KPEPF_Online_Backup_Svr   KPEPF_SVR_Ref  KPEPF_Online -->
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>  
      <add key="LoginReference.Service" value="http://works.lsgkerala.gov.in/demo/api/LoginService/Service.asmx"/>

    </appSettings>
  </location>
  <system.web>
    <!--<customErrors defaultRedirect="Contents/Error.aspx" mode="Off"></customErrors>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB"/>
  </system.web>
  <!--<appSettings>
  <add key="SthapanaPFSms.smsCall_loc" value="http://lsg.kerala.gov.in/ws/sms-wsdl/smsCall_loc.php"/>
  </appSettings>-->
  <!--<appSettings>
  <add key="sthapana.Service" value="http://localhost/Sthap/Service.asmx"/>
  </appSettings>-->
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
    <defaultProxy>
      <!--<proxy proxyaddress="http://172.16.8.150:8080"/>-->
      <proxy proxyaddress="http://172.16.8.6:8080"/>
    </defaultProxy>
  </system.net>
  <startup>
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />-->
    <supportedRuntime sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>